/* ////////////////////////////////////////////////////////////

	boilerplate / base css

//////////////////////////////////////////////////////////// */

.content{
	padding: 20px;
	text-align: center;
	background: #ccc; color: #888;
}