/* ////////////////////////////////////////////////////////////

	default less file

//////////////////////////////////////////////////////////// */
/* Mixins =================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
/* ////////////////////////////////////////////////////////////

	boilerplate / grid css

//////////////////////////////////////////////////////////// */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='span-'] {
  float: left;
  padding-right: 14px;
}
[class*='span-']:last-of-type {
  padding-right: 0px;
}
.row {
  width: 90%;
  max-width: 100%;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row-pad {
  padding: 14px 0 0 14px;
}
.row-pad > [class*='span-']:last-of-type {
  padding-right: 14px;
}
/* Content spans */
.span-1 {
  width: 100%;
}
.span-1-2 {
  width: 50%;
}
.span-1-3 {
  width: 33.33%;
}
.span-1-4 {
  width: 25%;
}
.span-1-5 {
  width: 20%;
}
.span-1-6 {
  width: 16.667%;
}
.span-1-7 {
  width: 14.28%;
}
.span-1-8 {
  width: 12.5%;
}
.span-1-9 {
  width: 11.1%;
}
.span-1-10 {
  width: 10%;
}
.span-1-11 {
  width: 9.09%;
}
.span-1-12 {
  width: 8.33%;
}
.span-2-3 {
  width: 66.66%;
}
/* Layout spans */
.span-12-12 {
  width: 100%;
}
.span-11-12 {
  width: 91.66%;
}
.span-10-12 {
  width: 83.333%;
}
.span-9-12 {
  width: 75%;
}
.span-8-12 {
  width: 66.66%;
}
.span-7-12 {
  width: 58.33%;
}
.span-6-12 {
  width: 50%;
}
.span-5-12 {
  width: 41.66%;
}
.span-4-12 {
  width: 33.33%;
}
.span-3-12 {
  width: 25%;
}
.span-2-12 {
  width: 16.667%;
}
.span-1-12 {
  width: 8.33%;
}
@media handheld, only screen and (max-width: 767px) {
  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  [class*='span-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
/* ==========================================================================

  Base Stylesheet - http://matthewhartman.github.com/base/
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.1 - Last Updated: 20th October, 2012

========================================================================== */
@font-face {
  font-family: 'entypo';
  src: url('../font/entypo/entypo.eot');
  src: url('../font/entypo/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/entypo/entypo.woff') format('woff'), /* Modern Browsers */
   url('../font/entypo/entypo.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../font/entypo/entypo.svg#svgFontName') format('svg');/* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'days';
  src: url('../font/days/days-webfont.eot');
  src: url('../font/days/days-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/days/days-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/days/days-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../font/days/days-webfont.svg#svgFontName') format('svg');/* IE9 Compat Modes */
  /* Legacy iOS */
}
/* ==========================================================================
/* --  Micro Clearfix, Resets and Common Classes
   ========================================================================== */
/* Micro Clearfix */
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
.section:before,
.section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.section {
  zoom: 1;
}
/* General Resets */
/* Start font size at 100% */
html {
  font-size: 100%;
}
/* Make all form fonts consistent */
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/* Remove all default borders */
form,
fieldset,
a img {
  border: 0;
}
/* Common Classes */
.left {
  float: left;
}
.right {
  float: right;
}
.nofloat {
  float: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}
.strong {
  font-weight: bold;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.nolist {
  list-style: none;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.none,
.nodesktop {
  display: none;
}
/* ==========================================================================
/* 1.0 - Document Setup (body, links, headings, code, tables, forms etc)
   ========================================================================== */
/* Body */
body {
  font-family: arial, helvetica, clean, sans-serif;
  font-family: entypo;
  background: #ffffff;
  color: #1a1a1a;
  margin: 0 0 21px 0;
  font-size: 87.5%;
  line-height: 140%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Links */
a {
  color: #ff3300;
  text-decoration: underline;
}
a:visited {
  color: #ff3300;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: #333333;
}
/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 3em;
  margin: 14px 0 14px 0;
}
h2 {
  font-size: 2.5em;
  margin: 14px 0 14px 0;
}
h3 {
  font-size: 2em;
  margin: 14px 0 14px 0;
}
h4 {
  font-size: 1.5em;
  margin: 14px 0 14px 0;
}
h5 {
  font-size: 1em;
  margin: 14px 0 14px 0;
}
h6 {
  font-size: 0.5em;
  margin: 14px 0 14px 0;
}
/* 1.2 Paragraphs, block quotes, code, pre, etc
   ========================================================================== */
p {
  margin: 0 0 1em 0;
}
abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
}
address {
  font-style: italic;
  line-height: 1.384em;
}
small {
  font-size: 67.5%;
}
/* Block Quotes */
blockquote,
q {
  quotes: none;
  border-left: 7px solid #cccccc;
  font-style: italic;
  padding-left: 1em;
  margin: 1em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
/* Code Blocks & Pre */
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
hr {
  border: 0;
  background: none;
  outline: 0;
  height: 1px;
  background-color: #dddddd;
  margin: 2em 0;
}
/* 1.3 Tables
   ========================================================================== */
table {
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-left: 0;
  background-color: #fff;
  border-spacing: 0;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background: #ffffff;
  color: #000000;
  border-left: 1px solid #dddddd;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f1f1f1;
}
table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) th {
  background-color: #ffffff;
}
table tbody .odd td {
  background-color: #f1f1f1;
}
table tfoot td {
  background: #eeeeee;
  font-weight: bold;
}
table caption {
  padding: .5em;
  font-style: italic;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-bottom: 0;
  font-weight: bold;
}
/* 1.4 Lists
   ========================================================================== */
ul,
ul ul {
  list-style: disc;
  margin: .5em;
}
ol,
ol ol {
  list-style: decimal;
  margin: .5em;
}
dl:before,
dl:after {
  content: "";
  display: table;
}
dl:after {
  clear: both;
}
dl {
  zoom: 1;
}
dl {
  width: 100%;
}
dl dt {
  width: 28%;
  float: left;
  clear: left;
  padding: 1%;
  margin: 0 0 .5em;
  font-weight: bold;
}
dl dd {
  width: 68%;
  float: left;
  padding: 1%;
  margin: 0 0 .5em;
}
/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
legend {
  font-size: 2.5em;
  font-family: "Georgia", "Times New Roman", sans-serif;
  font-weight: bold;
  display: block;
  width: 100%;
  padding-bottom: 1em;
}
.field {
  padding: 10px 0;
}
.field label {
  display: inline-block;
  min-width: 20%;
}
.field ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Inputs (Text, Search, Email, etc) */
input[type=text],
input[type=email],
input[type=search],
input[type=tel],
input[type=file] {
  border-radius: 0;
  outline: 0;
  border: 1px solid #ccc;
  padding: .5%;
  height: 18px;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  /* Remove Default Browser Behaviour for Safari */

  -moz-appearance: none;
  /* Remove Default Browser Behaviour for Firefox */

}
input[type=file] {
  border: 0;
  height: 20px;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type=submit],
input[type=button] {
  line-height: normal;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  /* Remove Default Browser Behaviour for Safari */

  -moz-appearance: none;
  /* Remove Default Browser Behaviour for Firefox */

}
textarea {
  vertical-align: top;
  display: inline-block;
  border: 1px solid #cccccc;
  min-height: 80px;
  padding: .5%;
  width: 30%;
}
select {
  font-size: 14px;
  outline: 0;
  height: 34px;
  border: 1px solid #cccccc;
  padding: .5%;
  width: 31%;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
}
select:focus {
  border: 1px solid #cccccc;
  outline: 0;
}
select[multiple] {
  min-height: 100px;
  vertical-align: top;
  border: 1px solid #ccc;
}
select:focus {
  border: 1px solid #999999;
}
/* styles below need to be merged with grid.less and rename grid.less to responsive.less ?? - remove grid in this file ??
/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
.section {
  position: relative;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container-full {
  max-width: 980px;
  margin: 0 auto;
}
/* Fluid Grid */
.col {
  margin-left: 2%;
  float: left;
}
.col:first-child {
  margin-left: 0;
}
/* Columns */
.one {
  width: 6.333%;
}
.two {
  width: 14.667%;
}
.three {
  width: 23.0%;
}
.four {
  width: 31.333%;
}
.five {
  width: 39.667%;
}
.six {
  width: 48.0%;
}
.seven {
  width: 56.333%;
}
.eight {
  width: 64.667%;
}
.nine {
  width: 73.0%;
}
.ten {
  width: 81.333%;
}
.eleven {
  width: 89.667%;
}
.twelve {
  width: 100%;
}
/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 720px) and (max-width: 959px) {
  html body {
    max-width: 959px;
    padding: 0;
    margin: 0;
  }
  .container {
    width: 700px;
  }
  .notablet {
    display: none;
  }
  .showtablet {
    display: block;
  }
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 719px) {
  html body {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nomobile {
    display: none;
  }
  .showmobile {
    display: block;
  }
}
/* End Mobile Media Query */
/* ==========================================================================
/* -- Print Layout
   ========================================================================== */
@media print {
  body {
    font-family: serif;
    /* Serif is easier to read offscreen */
    margin: 0.5cm;
  }
}
/* End Print Media Query *//*
 * Navigataur: A pure CSS responsive navigation menu
 * Author: Mike King (@micjamking)
 */
/*
 	Notes:
 
 	- Media queries should be edited in both style sections if you require 
	  a different breakpoint for your navigation.
	  
	- Toggle class & menu anchor tags in list items have box-sizing: border-box 
	  style property to allow padding inside the container without conflicting with layout.	

*/
/*--------------------------------
 Functional Styles (Required)
---------------------------------*/
.header {
  position: relative;
}
#toggle,
.toggle {
  display: none;
}
.menu > li {
  list-style: none;
  float: left;
}
/* Nicolas Gallagher micro clearfix */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
@media only screen and (max-width: 768px) {
  .menu {
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0;
  }
  .menu > li {
    display: block;
    width: 100%;
    margin: 0;
  }
  .menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  #toggle:checked ~ .menu {
    opacity: 1;
  }
}
/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/
.header {
  min-height: 100px;
  height: 100%;
  padding: 0;
  background: #ffffff;
}
.header a.brand {
  float: left;
  padding-top: 28px;
  text-decoration: none;
  font-family: days;
  font-size: 36px;
  color: #ff3300;
}
.nav,
.menu {
  display: block;
  float: right;
  margin: 0;
}
.nav,
.menu,
.menu > li,
.menu > li > a {
  height: 100%;
}
.menu > li > a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #ff3300;
}
.menu > li > a:hover,
.menu > li > a:focus {
  color: #1aff1a;
}
.toggle {
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .header {
    display: block;
  }
  .menu {
    min-height: 180px;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }
  .menu,
  .menu > li,
  .menu > li > a {
    height: auto;
  }
  .menu > li > a {
    padding: 14px;
  }
  .toggle:after {
    content: '\2630';
    display: block;
    width: 100px;
    margin: 14px;
    padding: 14px;
    background: #ff3300;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    float: right;
  }
  .toggle:hover:after {
    background: #00e600;
  }
  #toggle:checked + .toggle:after {
    content: '\274C';
  }
}
@media only screen and (max-width: 479px) {
  .header > h1 {
    text-align: center;
  }
  .header > h1,
  .nav,
  .toggle:after {
    float: none;
  }
  .toggle:after {
    width: auto;
    margin-right: 14px;
    text-align: center;
  }
}
body.dark {
  background: #000;
}
label,
legend {
  color: #fff;
}
.content {
  padding: 7px;
  text-align: center;
  background: #ccc;
  color: #000000;
}
#g1,
#g2,
#g3,
#g4 {
  width: 300px;
  height: 240px;
  /* factor for correct ratio 1.25 */

}
