/* ////////////////////////////////////////////////////////////

	default less file

//////////////////////////////////////////////////////////// */

  @import "mixins.less";
  @import "normalize.less";
  @import "grid.less";
  @import "grid2.less";
  @import "base.less";
  @import "nav.less";
  @import "input.less";

body.dark {
	background: #000;
}


label, legend {
	color: #fff;
}

.content{
	padding: 7px;
	text-align: center;
	background: #ccc; color: @black;
}

#g1, #g2, #g3, #g4 {
	width: 300px; height: 240px; /* factor for correct ratio 1.25 */
}

.footer {
	min-height: 200px;
	margin-top: 42px;
	background: @orange;
}