/* ////////////////////////////////////////////////////////////

	boilerplate / grid2 less

//////////////////////////////////////////////////////////// */

// set html5 elements to block
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

#pagewrap {
	width: 95%;
	// max-width: 100%;
	margin: 0 auto;
}
.col-row {
	overflow: hidden;
}

// column
.cols {
	// background: #eee; 
	float: left;
	margin-left: 3.2%;
	margin-bottom: 21px;
	padding: 14px;
	text-align: justify;
}
.fullwidth .cols {
	float: none;
	margin-left: 0;
}
/* span4 cols */
.span4 .cols {
	width: 22.6%;
}
/* span3 cols */
.span3 .cols {
	width: 31.2%;
}
/* span2 cols */
.span2 .cols {
	width: 48.4%;
}
// clear columns
.span4 .cols:nth-of-type(4n+1),
.span3 .cols:nth-of-type(3n+1),
.span2 .cols:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

// cascade to 3 columns @960px
@media screen and (max-width: 960px) {

	.span4 .cols {
		width: 31.2%;
	}
	.span4 .cols:nth-of-type(4n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.span4 .cols:nth-of-type(3n+1) {
		margin-left: 0;
		clear: left;
	}
}

// cascade to 2 columns @800px
@media screen and (max-width: 800px) {

	.span4 .cols {
		width: 48.4%;
	}
	.span4 .cols:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.span4 .cols:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
	.span3 .cols {
		width: 48.4%;
	}
	.span3 .cols:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.span3 .cols:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
}

// cascade to 1 column @480px
@media screen and (max-width: 480px) {
	/* span4 */
	.cols {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
}
