a.btn {
	display: inline-block;
	min-width: 150px;
	margin-left: 125px; padding: 28px 7px 7px 7px; 
	text-decoration: none;
	font-size: @18px;
	text-align: right; vertical-align: bottom;
	cursor: pointer;
}

a.btn:before {
	display: inline; position: relative; right: 90px;
	padding: 27px 21px 27px 21px;
	font-size: @18px; color: @black;
	vertical-align: middle;
	background: #eee;
	content: 'X';
}

a.btn:visited {
	color: @white;
}

a.btn-success {
	background: @darkGreen; color: @white;
}

a.btn-warning {
	background: @darkOrange; color: @white;
}

a.btn-warning:hover {
	background: @darkestOrange; color: @white;
}